#nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    overflow: auto;
}

main {
    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.innertube {
    margin: 15px;
}

* html main {
    height: 100%;
    width: 100%;
}

td, h1, h2, h3, h4, h5, p, ul, ol, li {
    page-break-inside: avoid; 
}